@import "tailwindcss";

@font-face {
  font-family: Slowing;
  src: 
  url('/fonts/NokRegular.ttf'),
}

@font-face {
  font-family: Gloria;
  src:
  url('/fonts/Quicksand-VariableFont_wght.ttf'),
}

@font-face {
  font-family: Roblox;
  src:
  url('/fonts/Urban Heroes.ttf'),
}

@font-face {
  font-family: Valentin;
  src:
  url('/fonts/Valentine.otf'),
}

@theme {
  --font-slowin: Slowing, "sans-serif";
  --font-glori: Gloria, "normal";
  --font-roblox: Roblox, "normal";
  --font-valentin: Valentin, "normal";
}

.letra {
  -webkit-text-stroke: 1px black;
  text-shadow: 5px 5px 0px black;
}

.text-shadow {
  text-shadow: 
    5px 5px 0px black
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: px;
}