@import "tailwindcss";

@font-face {
  font-family: Slowing;
  src: 
  url('/fonts/NokRegular.ttf'),
}

@font-face {
  font-family: Gloria;
  src:
  url('/fonts/Quicksand-VariableFont_wght.ttf'),
}

@theme {
  --font-slowin: Slowing, "sans-serif";
  --font-glori: Gloria, "normal";
}

.letra {
  -webkit-text-stroke: 1px black;
  text-shadow: 5px 5px 0px black;
}

.text-shadow {
  text-shadow: 
    5px 5px 0px black
}
